@{ ViewBag.Title = "Tạo đơn hàng"; Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.CreateActive = "active"; }
<style>
    .st-form .row {
        margin-bottom: 5px;
    }

    .st-form .multiselect-container {
        padding-left: 30px;
    }

    .dataTables_wrapper {
        padding: 5px;
    }
</style>
<link href="~/Content/plugins/jquery-validation/validationEngine.jquery.css" rel="stylesheet" />
<div class="content-wrapper scroller" id="style-10">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Tạo đơn hàng
            </h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action(" DashBroad", "DashBroad" )"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Tạo đơn hàng</li>
            </ol>
        </section>
        <div class="st-form ladings">
            <form id="ladingFrom" action="#">
                <div class="success alert alert-success" style="display:none">
                </div>
                <div class="alert alert-danger error" style="display:none">
                </div>
                <div class="col-md-12">
                    <div class="row" id="ladinginfo">
                        <div class="lading-template " style="display:none">
                            <div class="extend-container col-md-12" style="box-shadow: rgba(109, 109, 109, 0.43) 0px 2px 3px;padding: 0px;">
                                <div class="extend-head st-bg-2">
                                    <span class="extend-title">
                                        Đơn hàng
                                        <!-- <span class="ladingnumber"></span>
                                        <button class="remove-lading" style="height: 31px;width: 30px;background-color:red;position:absolute;right: 0px;border: 0;top: 0;">x</button> -->
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding:0">
                                        <div class="col-md-4 padding-left-0">
                                            <div class="form-group">
                                                <label><i class="fa fa-barcode"></i> Mã đơn hàng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control shipment-code" placeholder="Mã đơn hàng">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="form-group">
                                                <label><i class="fa fa-barcode"></i> Mã yêu cầu:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control request-code" placeholder="Mã yêu cầu">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 padding-right-0">
                                            <div class="form-group">
                                                <label><i class="fa fa-shopping-bag"></i> Mã tham chiếu:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control shop-code" placeholder="Mã tham chiếu">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="sender" class="row" data-district-id="" data-city-id="">
                                        <div class="extend-container col-md-12" style="padding-right:0">
                                            <div class="extend-head">
                                                <div class="extend-title">
                                                    THÔNG TIN NHẬN HÀNG
                                                </div>
                                            </div>
                                            <div class=" col-md-12" style="padding:0">
                                                <div class="col-md-4 padding-left-0">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-user"></i> Khách hàng gửi  (*):</label>
                                                        <div class="input-group">
                                                            <select class="form-control select-choice sender-code" data-placeholder="Chọn khách hàng" disabled="disabled">
                                                                <option value="">Chọn khách hàng</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 no-padding">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-phone"></i> Điện thoại liên hệ nhận hàng (*):</label>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Điện thoại liên hệ nhận hàng" class="form-control sender-phone validate[required]" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 padding-right-0">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-user"></i> Tên người liên hệ nhận hàng (*):</label>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Tên người liên hệ nhận hàng" class="form-control sender-name validate[required]" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 padding-left-0">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-map-marker"></i> Địa chỉ chi tiết:</label>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Địa chỉ chi tiết" class="form-control sender-address-note" id="sender-address-note" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 no-padding">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-building"></i> Công ty liên hệ nhận hàng</label>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Công ty liên hệ nhận hàng" class="form-control sender-company" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <div class="form-group">
                                                        <label><i class="fa fa-map-marker"></i> Địa chỉ nhận hàng (*):</label>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Địa chỉ nhận hàng" class="form-control sender-address validate[required]" id="sender-address" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="extend-head">
                                        <div class="extend-title">
                                            THÔNG TIN PHÁT HÀNG
                                            <span style="position:absolute;right: 20px;border: 0;top: 0;display: flex;">
                                                <input type="checkbox" class="check-show-location" style="height: 20px;width: 30px;" /><label style="margin-top: 5px;"> Xem chi tiết địa chỉ</label>
                                            </span>
                                            @*<button class="remove-lading" style="height: 31px;width: 30px;background-color:red;position:absolute;right: 0px;border: 0;top: 0;">x</button>*@
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-4 padding-left-0">
                                            <div class="form-group">
                                                <label><i class="fa fa-user"></i> Mã thanh toán sau:</label>
                                                <div class="input-group">
                                                    <select class="form-control select-choice receiver-code" data-placeholder="Chọn khách hàng" disabled="disabled">
                                                        <option value="">Chọn khách hàng</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="form-group">
                                                <label><i class="fa fa-phone"></i> Số điện thoại liện hệ phát hàng (*):</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control receiver-phone validate[required]" placeholder="Số điện thoại liện hệ phát hàng">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 padding-right-0">
                                            <div class="form-group">
                                                <label><i class="fa fa-user"></i> Tên người liện hệ phát hàng (*):</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control receiver-name validate[required]" placeholder="Tên người liện hệ phát hàng">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-4 padding-left-0">
                                            <div class="form-group">
                                                <label><i class="fa fa-map-marker"></i> Địa chỉ chi tiết:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control receiver-address-note" placeholder="Địa chỉ chi tiết Khu/Khối, Lô/Block">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 no-padding">
                                            <div class="form-group">
                                                <label><i class="fa fa-building"></i> Công ty liên hệ phát hàng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control receiver-company" placeholder="Công ty liên hệ phát hàng">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-12 no-padding">
                                            <div class="form-group">
                                                <label><i class="fa fa-map-marker"></i> Địa chỉ nhận địa chỉ phát hàng (*):</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control receiver-address validate[required]" placeholder="Địa chỉ nhận địa chỉ phát hàng">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 div-location no-padding" style="display:none">
                                        <div class="col-md-4 padding-left-0">
                                            <div class="form-group">
                                                <label style="width:100%"><i class="fa fa-credit-card"></i> Tỉnh thành (*):</label>
                                                <select name="province" class="form-control select-choice chosen-select province" data-placeholder="Chọn tỉnh thành" placeholder="Vui lòng chọn Tỉnh/Thành">
                                                    <option value="">Chọn tỉnh thành</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="form-group">
                                                <label style="width:100%"><i class="fa fa-credit-card"></i> Quận huyện (*):</label>
                                                <select name="district" class="form-control select-choice chosen-select district" data-placeholder="Chọn quận huyện" placeholder="Vui lòng chọn Quận/Huyện">
                                                    <option value="">Chọn quận huyện</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 padding-right-0">
                                            <div class="form-group">
                                                <label style="width:100%"><i class="fa fa-credit-card"></i> Phường xã (*):</label>
                                                <select name="ward" class="form-control select-choice chosen-select ward" data-placeholder="Chọn phường xã" placeholder="Vui lòng chọn Phường/Xã">
                                                    <option value="">Chọn phường xã</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="extend-head">
                                        <div class="extend-title">
                                            THÔNG TIN VẬN ĐƠN
                                        </div>
                                    </div>
                                    <div class="col-md-6 no-padding">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-4 padding-left-0">
                                                <div class="form-group">
                                                    <label style="width:100%"><i class="fa fa-cog"></i> Loại hàng hóa (*):</label>
                                                    <select class="form-control select-choice structure" data-placeholder="Chọn loại hàng hóa">
                                                        <option value="">Chọn loại hàng hóa</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 no-padding">
                                                <div class="form-group">
                                                    <label style="width:100%"><i class="fa fa-cog"></i> Dịch vụ chính (*):</label>
                                                    <select class="form-control select-choice service" data-placeholder="Chọn dịch vụ">
                                                        <option value="">Chọn dịch vụ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 padding-right-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-balance-scale"></i> TL(<span class="Weight"></span>) (*):</label>
                                                    <div class="input-group">
                                                        <input type="number" value="0.5" class="form-control weight validate[required, min[0.00001]]">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 padding-right-0">
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-dropbox"></i> Số kiện (*)
                                                        @*<button class="add-box" onclick="AddBox()">Nhập</button>*@
                                                        <a class="box-modal" style="text-align: center;font-size: 11px;height: 15px;width: 40px;background-color:#dca025;position:absolute;right: 0px;border: 0;top: 0;color: #fff;" data-toggle="modal" href="#loadmodal">Nhập K/Thước</a>
                                                    </label>
                                                    <div class="input-group">
                                                        <input type="number" value="1" class="form-control  number validate[required, min[0.00001]]">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="insured-div"></div>*@
                                        <div class="col-md-12 insured-div no-padding">
                                            @*<div class="col-md-4 padding-left-0"></div>*@
                                            <div class="col-md-4 padding-left-0">
                                                <div class="form-group">
                                                    <label style="width:100%"><i class="fa fa-plus-circle"></i> Dịch vụ gia tăng: <a style="color:red" class="pull-right display remove-all" title="Bỏ chọn"><i class="fa fa-window-close"></i></a></label>
                                                    <select class="btn btn-default servicedvgt" data-placeholder="Chọn DVGT" multiple="multiple" data-label="left" itemprop="2" itemscope="2" data-select-all="true" data-width="100%" data-filter="true" data-action-onchange="true"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 no-padding">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Khai giá:</label>
                                                    <div class="input-group">
                                                        @*<input type="number" placeholder="Giá trị HH" class="form-control insured">*@
                                                        <input type="text" placeholder="Giá trị HH" class="form-control insured">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 padding-right-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Cước bảo hiểm:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control insured-price" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-6 padding-left-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-file-text-o"></i> Nội dung hàng hóa (*):</label>
                                                    <div class="input-group">
                                                        @*<input type="text" class="form-control description">*@
                                                        <textarea rows="4" class="form-control description validate[required]" placeholder="Thông tin hàng hóa" style="height:auto !important"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 padding-right-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-file-text-o"></i> Ghi chú:</label>
                                                    <div class="input-group">
                                                        <textarea rows="4" class="form-control noted" style="height:auto !important"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-right-0">
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-2 padding-left-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-balance-scale"></i> TL QĐ (<span class="Weight"></span>):</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control cal-weight" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 padding-left-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-balance-scale"></i> Số lượng:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control count-sk">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 no-padding">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Cước chính:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control price-main" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 padding-right-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> VSVX:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control price-far" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 padding-right-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> PXD:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control ppxd-price" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-4 padding-left-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i>Cước/Phí Dịch vụ giá tăng:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control dvgt-price" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 no-padding">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Tổng cước/phí <span style="color:red">( Tạm tính ):</span></label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control amount" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 padding-right-0">
                                                <div class="form-group">
                                                    <label style="width:100%">
                                                        <i class="fa fa-credit-card"></i> Thanh toán (*):
                                                        @*<a title="Chi tiết cước phí" class="fa fa-info-circle pull-right detail-price"></a>*@
                                                    </label>
                                                    <select class="form-control select-choice payment validate[required]" data-placeholder="Chọn Thanh toán">
                                                        <option value="">Thanh toán</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 cod-div no-padding">
                                            <div class="col-md-4 padding-left-0">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Số tiền thu hộ - COD:</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Thu hộ" class="form-control cod validate[min[0.00001]]">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 no-padding">
                                                <div class="form-group">
                                                    <label><i class="fa fa-money"></i> Cước/phí thu hộ (COD):</label>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="0" class="form-control cod-price" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 padding-right-0">
                                                <div class="form-group">
                                                    <label style="width:100%"><i class="fa fa-credit-card"></i> TT COD:</label>
                                                    <select class="form-control select-choice payment-cod-type" data-placeholder="--- "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-4 padding-left-0">
                                                <label style="margin-top: 7px;">TỔNG PHẢI THU KHI PHÁT HÀNG: </label>
                                            </div>
                                            <div class="col-md-8 no-padding">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" value="0" class="form-control total-receivables" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 no-padding">
                                            <div class="col-md-2 display-none">
                                                <div class="form-group">
                                                    <label>Dài (cm)</label>
                                                    <div class="input-group">
                                                        <input type="number" value="0" class="form-control  length">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 display-none">
                                                <div class="form-group">
                                                    <label>Rộng (cm)</label>
                                                    <div class="input-group">
                                                        <input type="number" value="0" class="form-control  width">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 display-none">
                                                <div class="form-group">
                                                    <label>Cao (cm)</label>
                                                    <div class="input-group">
                                                        <input type="number" value="0" class="form-control height">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 display-none">
                                                <div class="form-group">
                                                    <label>Khối lượng (kg)</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mass" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lading-list">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-danger error" style="display:none">
                    </div>
                    <div class="success alert alert-success" style="display:none">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="add-more btn btn-default display-none" style="margin-right:10px" id="add-more">Thêm</button>
                    <button class="add-shipment btn btn-info" type="button" style="margin-right:10px;" id="add-shipment">Lưu tạm</button>
                    <button class="clear-shipment btn btn-default" type="button" style="margin-right:10px;" id="clear-shipment">Hủy</button>
                    <!-- <button class="add-lading-create btn btn-info" type="button" style="margin-right:10px" id="add-lading-create">Tạo đơn hàng và yêu cầu lấy hàng</button> -->
                </div>
            </form>
            <div class="col-md-12" style="margin-top:15px;margin-bottom: 15px;box-shadow: rgba(109, 109, 109, 0.43) 0px 2px 3px;padding:0">
                <div class="extend-head st-bg-2">
                    <span class="extend-title">
                        Danh sách vận đơn tạm
                    </span>
                </div>
                <div class="col-md-12">
                    <div class="box  listproterler" style="border: 0px;">
                        <div class="extend-body row" style="background: #f2f2f2;padding:0;">
                            <div class="TableSearch">
                                <table class="table table-condensed table-bordered table-hover" id="data-shipment">
                                    <thead>
                                        <tr>
                                            <th class="#">#</th>
                                            <th class="stt">STT</th>
                                            <th class="code">Mã tham chiếu</th>
                                            <th class="status">Trạng Thái VĐ</th>
                                            <th class="cod">COD</th>
                                            <th class="pricemain">Cước phí</th>
                                            <th class="receiver-name">Người nhận</th>
                                            <th class="receiver-phone">ĐT nhận</th>
                                            <th class="receiver-address-note">Địa chỉ tiết</th>
                                            <th class="receiver-address">Địa chỉ nhận</th>
                                            <th class="content">Nội dung hàng hóa</th>
                                            <th class="note">Ghi chú</th>
                                            <th class="payment">Hình thức thanh toán</th>
                                            <th class="order-date">Ngày gửi</th>
                                            <th class="weight">TL(<span id="Weight"></span>)</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 no-padding" style="margin-bottom: 15px;">
                    <button class="add-lading btn btn-info pull-right" type="button" style="margin-right:10px" id="add-lading"> Lưu đơn hàng và yêu cầu lấy hàng</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ladingModel modal fade bs-example-modal-lg ladings ladingedit" id="loadmodal" tabindex="-1" role="basic" aria-hidden="true">
    <form id="ladingFrom ">
        <div class="modal-dialog modal-wide modal-md st-form report-revenue message-bb">
            <div class="modal-content scroller" id="style-3">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="text-indent:0" aria-hidden="true">x</button>
                    <h4 class="modal-title">Nhập kích thức</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-1 padding-left-0">
                            <b class="index-number">1</b>
                        </div>
                        <div class="col-md-8 padding-left-0">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> Dài:</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Dài (cm)" class="form-control box-length">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 padding-left-0">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> Dài:</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Dài (cm)" class="form-control box-length">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 padding-left-0">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> Dài:</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Dài (cm)" class="form-control box-length">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 padding-left-0" ">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> Rộng:</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Rộng (cm)" class="form-control box-width">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 padding-left-0" ">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> Cao:</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Cao (cm)" class="form-control box-height">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 padding-left-0" ">
                            <div class="form-group">
                                <label><i class="fa fa-dropbox"></i> TL (kg):</label>
                                <div class="input-group">
                                    <input type="text" placeholder="TL (kg)" class="form-control box-weight">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-12">
                        <div class="col-md-12 no-padding text-center">
                            <button class="btn btn-info" type="button" id="add-box">Tạo kiện</button>
                        </div>
                    </div>*@
                    @*<div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-12 no-padding">
                            <div class="box  listproterler" style="border: 0px;">
                                <div class="extend-body row" style="background: #f2f2f2;padding:0;">
                                    <div class="TableSearch">
                                        <table class="table table-condensed table-bordered table-hover" id="box-data">
                                            <thead>
                                                <tr>
                                                    <th class="stt">STT</th>
                                                    <th class="length">Dài</th>
                                                    <th class="width">Rộng</th>
                                                    <th class="height">Cao</th>
                                                    <th class="calWight">TL Quy đổi</th>
                                                    <th class="weightCurrent">TL Thực</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-12 no-padding">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default bt-close-loadmodal" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
                <div style="display:none">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
    <!-- /.modal-dialog -->
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validationEngine.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validationEngine.Custom.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validationEngine-vi.js"></script>
<script src="/ScriptSys/AddLadingsScript.js"></script>