.login-box, .register-box {
    width: 1200px !important;
    margin: 7% auto;
}

@media (max-width:768px) {
    .login-box, .register-box {
        width: 90% !important;
        margin-top: 20px;
    }
}

@media (max-width:1024px) {
    .login-box, .register-box {
        width: 90% !important;
        margin-top: 20px;
    }
}
