
    @*<div class="user-panel">*@
<div class="user-panel" style="padding-left: 0;float:right;">
    <div class="pull-right image">
        <img src="/content/dist/img/user.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-right info" style="padding:5px 25px 5px 15px;text-align: right;">
        <p style="margin-bottom: 0px;"><a style="color: #ffffff;font-weight: 600;" href="/thong-tin-ca-nhan.html" class="customerName">CustomerName</a></p>
        <p><a style="color: #ffffff;font-weight: 600;" href="/thong-tin-ca-nhan.html" class="customerCode">CustomerCode</a></p>
        <a href="" class="logout"><i class="fa fa-power-off"></i> Đăng xuất</a>
    </div>
</div>
